.container{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 8px 0px;
	margin-bottom: 20px;
}
.imageattrs {
	height: 255px;
	width: 245px;
}
.caption{
	text-align: center;
	margin: 0px auto 18px;
	max-width: 180px;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: none;
	font-weight: bold;
}