.container{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 8px 0px;
	margin-bottom: 20px;
}
.caption{
	text-align: center;
	margin: 0 10%;
	max-width: 180px;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: none;
	font-weight: bold;
}

@media only screen and (max-width: 980px) {
	.caption {
		margin: 0px auto 32px;
	}
}