.form {
	padding: 0px 20px;
	width: 90%;
	margin: 40px auto 80px;
}
.bttncase {
	display: flex;
	margin-top: 20px;
	justify-content: flex-end;
}
.radioContainer {
	display: flex;
	width: 80%;
	margin: 8px auto;
	justify-content: space-between;
}
.radiobutton{
	padding: 0px 10px;
	width: fit-content;
}
.bttn {
	width: 150px;
	height: 50px;
	margin-top: 14px;
}

@media only screen and (max-width: 550px) {
	.form {
		width: 100%;
		padding: 0;
	}
	.radioContainer {
		width: 55%;
		margin: 0;
	}
	.radiobutton {
		width: 100%,
	}
	.bttncase {
		justify-content: center;
	}
}