/* STANDARD LAYOUT - MD AND UP */
.card {
    background-color: white;
    font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 14px auto;
    padding: 20px 8%;
	font-weight: bold;
    border-radius: 50px;
    border-top: 1px dotted rgba(90, 90, 90, 0.884);
    border-bottom: 1px dotted rgba(90, 90, 90, 0.884);
    box-shadow: 1px 2px 8px rgba(173, 173, 173, 0.108);
}
.cardInnerStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'image cardHeader'
        'image txtContent';
    padding-left: 8%;
}
.captionContainer {
    grid-area: txtContent;
    max-width: 420px;
    margin: 12px 0 12px 5%;
}
.cardHeader {
    grid-area: cardHeader;
    margin: 20px 5%;
    max-width: 420px;
    font-weight: bold;
}
.imageContainer {
    grid-area: image;
    display: flex;
    justify-items: center;
    max-width: 380px;
    max-height: 380px;
}
.imageStyle {
    border-radius: 15px;
}


/* REVERSE LAYOUT - MD AND UP */
.reverseCardInnerStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'revCardHeader revImage'
        'revTxtContent revImage';
}
.reverseCaptionContainer {
    grid-area: revTxtContent;
    max-width: 420px;
    margin: 12px 0 12px 5%;
}
.reverseCardHeader {
    grid-area: revCardHeader;
    margin: 20px 5%;
    max-width: 420px;
    font-weight: bold;
}
.reverseImageContainer {
    grid-area: revImage;
    display: flex;
    justify-items: center;
    max-width: 380px;
    max-height: 380px;
}


@media only screen and (max-width: 750px) {
    .cardInnerStyle {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            'cardHeader'
            'image' 
            'txtcontent';
        padding-left: 0;
    }
    .cardHeader {
        grid-area: cardHeader;
        margin: 20px auto;
        max-width: 400px;
    }
    .captionContainer {
        grid-area: txtcontent;
        margin: 12px auto;
        max-width: 370px;
    }
    .imageContainer {
        grid-area: image;
        margin: 0 auto;
    }


    /* REVERSED SM */
    .reverseCardInnerStyle {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            'revCardHeader'
            'revImage' 
            'revTxtcontent';
        padding-left: 0;
    }
    .reverseCardHeader {
        grid-area: revCardHeader;
        margin: 20px auto;
        max-width: 400px;
    }
    .reverseCaptionContainer {
        grid-area: revTxtcontent;
        margin: 12px auto;
        max-width: 370px;
    }
    .reverseImageContainer {
        grid-area: revImage;
        margin: 0 auto;
    }
}