.linkSurround {
	width: 190px;
	/* background-color: bisque; */
	margin:.9%;
	/* margin: 0 12px; */
}
.linkBox {
	text-align: center;
	/* background-color: aquamarine; */
	width: 90%;
}
.linkText {
	color: rgba(71, 71, 71, 0.853);
	margin: 0;
	padding: 0;

	/* Keep Border: transparent for when hover over - so doesn't shift up */
	border-bottom: 1.5px solid rgba(71, 71, 71, 0);
	border-left: 2px solid rgba(71, 71, 71, 0);
	border-right: 2px solid rgba(71, 71, 71, 0);
}
.linkText:hover {
	border-bottom: 1.5px solid rgba(71, 71, 71, 0.719);
	color: rgb(12, 12, 12);
	font-weight: bolder;
	border-image: fill black;
}
/* .nav-link:active {
	border-bottom: 1.5px solid rgba(71, 71, 71, 0.719); */
	/* font-weight: 600; */
	/* z-index: 100; */
/* } */
/* .active {
	font-weight: 600;
} */
.flexi {
	display: flex;
	flex-direction: column;
	margin: 1.3rem;
}