.wrapper{
	max-width: 1320px;
	/* margin-left: auto;
	margin-right: auto; */
	/* border-left: 1px solid rgba(180, 180, 180, 0.26);
	border-right: 1px solid rgba(180, 180, 180, 0.26); */
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 0px 5% 6px;
	height: 170px;
	background-color: white;
	/* border: 1px red dashed; */
}
.logo {
	min-width: 310px;
	min-height: 150px;
	margin-top: 10px;
	/* border: 1px solid black; */
}
.navigation {
	display: flex;
	align-items: center;
	margin-top: 80px;
	width: 100%;
	/* border: 1px solid blue; */
}
.linkslist{
	display: flex;
	list-style-type: none;
	width: 100%;
	justify-content: space-evenly;
	/* align-self: center; */
	/* border: 1px dashed green; */
}
.linkslist a {
	text-decoration: none;
	align-self: auto;
	color: rgba(71, 71, 71, 0.853);
	font-size: 26px;
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* border: 1px solid red; */
}
.navigation a:hover{
	border-bottom: 2.2px solid rgba(71, 71, 71, 0.719);
	color: rgb(12, 12, 12);
}

@media only screen and (max-width: 768px) {
	.logo {
		font-size: 2.5rem;
	}

	.navigation a {
		font-size: 18px;
	}
}