.container {
	align-items: center;
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: fit-content;
	padding: 20px;
}
.logoandtext {
	display: flex;
	flex-wrap: wrap;
	color: rgb(99, 98, 98);
	padding: 0px 10px;
	margin-bottom: 4px;
	text-align: center;
	justify-content: space-evenly;
	width: 40%;
}
.imageattrs {
	height: 50px;
	width: 150px;
}
.logotext {
	margin: auto auto;
}
.texts {
	min-height: 40px;
	color: rgb(75, 75, 75);
	text-align: center;
	width: 100%;
	font-size: 18px;
}
.image{
	padding: 0 20px 0 0;
	height: 50px;
	width: 150px;
}