.linkSurround {
	width: 180px;
	max-height: 40px !important;
	margin: 0 1% 10px;
}
.linkBox {
	text-align: center;
}
.linkText {
	color: rgba(71, 71, 71, 0.853);
	margin: 0;
	padding: 0;
}
.linkText:hover {
	color: rgb(12, 12, 12);
	font-weight: bolder;
	border-image: fill black;
}
.flexi {
	display: flex;
	flex-direction: column;
	margin: 1.3rem;
}