.bodycontent{
	display: grid;
	grid-template-rows: .5fr .1fr .8fr;
	grid-template-areas: 
		"upper"
		"mission"
		"services";
}
/* upper-mid section material */
.upper{
	grid-area: upper;
	display: grid;
	grid-template-columns: auto 40px minmax(300px, 400px);
	grid-template-areas: 
		"section bar contact";
}
.titlesection{
	grid-area: section;
	/* font-size: 22px; */
	padding-right: 40px;
	/* line-height: 1.3; */
}
.mybar{
	grid-area: bar;
	margin: 120px 30px 60px 30px;
	border: 1px solid rgba(39, 39, 39);
	background-color: rgba(39, 39, 39, 0.904);
	border-radius: 30%;
}
.asidesection{
	grid-area: contact;
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-left: 30px;
}
.asidecontact{
	font-size: 26px;
	font-weight: 600;
}
.asidenumber{
	padding-top: 20px;
}
.mission {
	grid-area: mission;
}
/* dynamic cards */
.servicesection {
	grid-area: services;
}

@media only screen and (max-width: 985px) {
	.bodycontent {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-areas: 
			"upper"
			"mission"
			"services";
	}
	.upper {
		display: grid;
		grid-template-rows: auto 40px auto;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"sectionSM"
			"barSM"
			"contactSM";
	}
	.titlesection {
		grid-area: sectionSM;
		padding: 0;
	}
	.mybar {
		grid-area: barSM; 
		align-self: center;
	}
	.asidesection {
		margin-top: 40px;
		grid-area: contactSM;
		margin-left: 0;
		padding: 0px 20px;
		text-align: center;
	}
}