.serviceContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
        "svcHeader"
        "svcSec"
        "quoteStmt"
        "gettaQuote";
}
.serviceHeader {
    grid-area: svcHeader;
    margin-bottom: 0;
    padding-bottom: 0;
}
.serviceSection {
    grid-area: svcSec;
    display: grid;
    grid-template-columns: 1fr 3px 1fr 3px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "sec1 divider1 sec2 divider2 sec3";
    height: 100%;
    margin-bottom: 60px;
    gap: 6px;
}

.serviceColumn1 {
    grid-area: sec1;
    padding: 0px 20px 0px 0px;
}
.divider1 {
    grid-area: divider1;
    background-color: rgb(182, 98, 50);
    border: 1px solid rgb(182, 98, 50);
    border-radius: 25px;
    height: 70%;
    margin: auto;
}
.serviceColumn2 {
    grid-area: sec2;
    padding: 0px 20px;
}
.divider2 {
    grid-area: divider2;
    background-color: rgb(182, 98, 50);
    border: 1px solid rgb(182, 98, 50);
    border-radius: 25px;
    height: 70%;
    margin: auto;
}
.serviceColumn3 {
    grid-area: sec3;
    padding: 0px 0px 0px 20px;
}
.section {
    margin-bottom: 16px;
}
.sectionlist {
    margin-bottom: 16px;
    margin-left: 40px;
}
.quoteStatement {
    grid-area: quoteStmt;
    text-align: center;
    width: 100%;
    font-weight: 560;
    margin-bottom: 80px;
}
.buttonContainer {
    grid-area: gettaQuote;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gettaQuoteButton {
    width: 230px;
    height: 60px;
}


@media only screen and (max-width: 985px) {
    .serviceContainer {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas: 
            "svcHeader"
            "svcSec"
            "quoteStmt"
            "gettaQuote";
    }
    .serviceHeader {
        grid-area: svcHeader;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .serviceSection {
        grid-area: svcSec;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 40px auto 40px auto;
        grid-template-areas: 
            "sec1"
            "divider1"
            "sec2"
            "divider2"
            "sec3";
        height: 100%;
        margin-bottom: 60px;
    }
    
    .serviceColumn1 {
        grid-area: sec1;
        padding: 20px 0px;
        border: 1px solid transparent;
    }
    .divider1 {
        grid-area: divider1;
        background-color: rgb(182, 98, 50);
        border: 1px solid rgb(182, 98, 50);
        border-radius: 25px;
        width: 75%;
        height: 0;
        margin: auto;
    }
    .serviceColumn2 {
        grid-area: sec2;
        padding: 20px 0px;
        border: 1px solid transparent;
    }
    .divider2 {
        grid-area: divider2;
        background-color: rgb(182, 98, 50);
        border: 1px solid rgb(182, 98, 50);
        border-radius: 25px;
        width: 70%;
        height: 0;
        margin: auto;
    }
    .serviceColumn3 {
        grid-area: sec3;
        padding: 20px 0px;
        border: 1px solid transparent;
    }
    .section {
        margin-bottom: 16px;
    }
    
    .buttonContainer {
        grid-area: gettaQuote;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gettaQuoteButton {
        width: 230px;
        height: 60px;
    }
    

}