.sticky-top-class {
	position: sticky;
	top: 0;
}
.linkSurround {
	width: 180px;
	max-height: 40px !important;
	margin: 0 1% 10px;
}
.linkBox {
	text-align: center;
}
.linkText {
	margin: 0;
	padding: 0;
}
.imageattrs {
	display: block;
	max-width: 335px;
	max-height: 160px;
}
.linkText:hover {
	color: rgb(255, 255, 255);
	font-weight: bolder;
}
.flexi {
	display: flex;
	flex-direction: column;
	margin: 1.3rem;
}
.contbox {
	background: rgb(65, 65, 65);
	height: fit-content;
	padding: 10px;
	color: white;
}